:root {
    --pink-light: #ff7eb4;
    --pink: #ff2581;
    --blue: #1a73e8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.btn-fake.comment {
    stroke-width: 8;
    stroke: var(--blue);
    fill: var(--blue);
}
.btn-fake.share {
    stroke-width: 30;
    stroke: black;
    // fill: black;
}
.btn-fake {
    fill: transparent;
    stroke: var(--pink);
    stroke-width: 50;
    cursor: pointer;
    position: relative;

    svg {
        overflow: visible;
        width: 1.4rem;
    }

    path {
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
        transform-origin: center;
    }

    .background {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
    }

    .main:hover path {
        animation: stroke-animation 2s ease-in-out forwards;
    }
}
.btn-fake.liked {
    fill: var(--pink);

    .main:hover path {
        animation: stroke-animation 2s ease-in-out forwards;
        fill: var(--pink);
    }

    // .main:hover ~ .background path {
    //     animation: fade-animation 2s ease-in-out forwards;
    // }
}
@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1550;
    }
    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);
    }
    80% {
        // fill: var(--pink);
        transform: scale(1.1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        stroke-dashoffset: 3100;
        // fill: var(--pink);
    }
}

@keyframes fade-animation {
    70% {
        fill: transparent;
        transform: scale(1);
    }
    80% {
        fill: var(--pink-light);
        transform: scale(1.1);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
