.logo-main {
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-style: italic;
    font-weight: 50px;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 46px;
    font-weight: 300;
    font-size: 40px;
    .k {
        top: 0;
    }
    .s {
        top: 20px;
    }
    .c {
        top: 40px;
    }
    div {
        width: 50px;
        position: absolute;
        background-color: #aeafad;
        border-color: #aeafad;
        color: #515052;
        color: transparent;
        background-image: linear-gradient(45deg, #3a24fe, #6a5af9, #8477f6, #ff2ced, #ffb4dc, #fc6c8f, #ffb86c);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 5s ease alternate infinite;
    }
}
