.personal-container {
	margin-top: 42px;
}
.no-article {
	margin-top: 200px;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	font-size: 30px;
}
